*{
    margin:10px;
    padding:0px;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
}

header, .navbar, .encabezado, .logo, .titulo, .bienvenido {
    border: 1px solid black;
}
        .navbar {
            display: flex;
            justify-content: right;
            text-align: right;
        }

main, article, aside, .productos  {
    border: 1px solid black;
}


footer, footer div {
    border: 1px solid black;
}

/*
*{
    margin:10px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Comic Sans Ms;
    font-size: 20px;
    border: 10px;
    border: 1px solid black;
}
header{
    border: 1px solid black;
}
header nav {
    border: 1px solid black;
    text-align: right;
}

header nav a{
    text-decoration: none;
}
header .logo {
    border: 1px solid black;
}
.logo h1{
    align-content: center;
    margin-top: 30px;
    font-family: Kunstler script;
    font-size: 70px;
    font-weight: bold;
}
.logo {
    display: flex;
}
header .bienvenido{
    border: 1px solid black;
    font-weight: bold;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.logo img{
    width: 100px;
}

.logo h1{
    height: 50px;
}

main{
    border: 1px solid black;
}

.titulo_main{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.huerta{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productos, .seleccion, .cesta, .semillas , .sustrato{
    border: 1px solid black;
}

div .seleccion{
    display: flex;
    justify-content: right;

}
.cesta, .semillas, .sustrato {
    display: flex;
    flex-direction: row;
}
p{
    margin: 10px;
    font-size: 20px;
    border: 10px solid gray;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
}

article img {
    width: 300px;
    padding: 20px;
    border: 10px solid rgb(20, 85, 45);
    border-radius: 10px;
}
